.Collection {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.3)),
    url("../../assets/Banner-2.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .Collection {
    // height: 100vh;

    // .py-24 {
    // }

    .text {
      margin-top: 5%;
      margin-bottom: 5%;

      .ImgMe {
        width: 300px;
      }
    }
    .pl-3 {
      padding-left: 2%;
      background-size: cover;
      background-position: center;
    }
  }
}
